
.account-common-page-resetpassword {
    margin: auto;
    margin: auto;
    display: flex;
    align-items: center;
    // margin: 2rem 0;
    height: 100vh;
    background-image: url('../../assets/images/account-bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
    .account-wrapper-resetpassword {
        display: flex;
        flex-direction: row;
        width: 60%;
        height: 70%;
        margin: auto;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }
    .account_left-resetpassword {
        width: 55%;
        background: rgba(146, 139, 139, 0.723);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .account_right-resetpassword {
        background: #fff;
        padding-top: 1rem;
        width: 45%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        
       
    }
    .form-account-resetpassword{
        width: 100%;
        margin-left: 70px;
    }
    .form-account-resetpassword .box{
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .form-account-resetpassword .btnContinue{
        width: 300px;
        height: 35px;
        border-radius: 10px;
    }
    input{
        position: relative;
        width: 300px;
        height: 35px;
        text-indent: 10px;
        border: 2px solid rgba(0,0,0,0.2);
        border-radius: 10px;
        outline: none;
        font-size: 1.1em;
        transition: linear 0.2s;
    }
    

