.compose {
  padding: 5px;
  display: flex;
  align-items: center;
  border-top: 1px solid #eeeef1;
  position: fixed;
  width: calc(100% - 20px);
  bottom: 0px;
  margin-top: 10px;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    /* background-color: rgba(255, 255, 255, 0.8); */
    backdrop-filter: blur(20px);
  }
}
.container {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 100%;
}
.compose-input {
  margin-top: 2px;
  display: flex;
  width: 60%;
  max-width: 100%;
  border: solid;
  border-width: 0px;
  border-radius: 20px;
  font-size: 14px;
  height: 40px;
  margin-left: 15px;
  background: #f3f3f5;
  vertical-align: center;
  box-sizing: content-box;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #0084ff;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #0084ff;
}

.send-outline {
  color: #0084ff;
}

.left-button {
  margin-top: 5px;
  /* margin-left: 15px; */
  display: flex;
  flex-direction: row;
}

.right-button {
  margin-top: 7px;
  margin-left: 20px;
  width: 200px;
}
.btnSend {
  border-radius: 20%;
  justify-content: center;
  align-items: center;
  height: 40px;
}

